@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}





html, body, h1, h2 {
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 1rem;
}

.learn {
  background-color: #0B7A75;
  padding: 5px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: white;
  transition: all 500ms;
  margin-top: 0.7rem;
  box-shadow: rgba(99,99,99) 0px 2px 8px 0px;
}

form input, form textarea, form button {
  padding: 0.8em;
  margin-top: 0.5em;
  border: 2px solid #ccc;
}

form input:focus, form textarea:focus {
  border-color: #5b1579;
}

h1 {
  font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.learn a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.learn:hover, .learn:focus {
  background-color: #9381FF;
}

.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.forms {
  flex: 1 1 60%;
  margin: 10px;
}

.secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
  box-shadow: rgba(99,99,99) 0px 2px 8px 0px;
  margin: 20px;
  background-color: #0B7A75;
}
.additional-info h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.additional-info p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.map {
  display: flex;
  justify-content: center; 
  align-items: center;    
  width: 100%;            
  height: 450px;         
}



@keyframes zooming-image {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

header {
  color: white;
  background-color: #0B7A75;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 75px;
}

.top {
  color: white;
}

.zooming-image {
  height: 180px;
  border-radius: 5px;
  margin: 15px;
  width: 180px;
}


.zooming-image:hover, .zooming-image:focus {
  animation: zooming-image 3.0s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 25px;
}

button {
  background-image: linear-gradient(to right,#0B7A75 0%,#9381FF 50%, #FCC8B2 100%); 
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin: 10px;
  padding: 1em 2em;
  text-decoration: none;
  transition: all 0.5s;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  font-weight: 800;
  font-size: 1em;
  background-size: 200% auto;
  box-shadow: rgba(99,99,99) 0px 2px 8px 0px;
}

.forms1 > * {
  padding: 0.5em;
}

.forms1 {
  margin: 0rem auto;
  padding: 1em;
  border-radius: 5px;
  box-shadow: rgba(99,99,99) 0px 2px 6px 0px;
  background-color: #FCC8B2;
}



.forms1 h1 {
  display: flex;
  justify-content: center;
}

.forms h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-align: center;
}


form p {
  font-size: 20px;
  color: black;
}

h3 {
  margin: 0;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  outline: 1px solid #0B7A75;
}

.img1 {
  background-image: url('https://images.pexels.com/photos/4974914/pexels-photo-4974914.jpeg?auto=compress&cs=tinysrgb&w=800');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.img2 {
  background-image: url("https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img3 {
  background-image: url("https://images.pexels.com/photos/879109/pexels-photo-879109.jpeg?auto=compress&cs=tinysrgb&w=800");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img4 {
  background-image: url('/pexels-goumbik-574070.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.img5 {
  background-image: url("/pexels-kevin-ku-92347-577585.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img6 {
  background-image: url("/pexels-olia-danilevich-4974920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img7 {
  background-image: url(/IMG_0432.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img8 {
  background-image: url("/sports-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img9 {
  background-image: url("/IMG_5779.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.img10 {
  background-image: url(/IMG_5670.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img11 {
  background-image: url("/IMG_5839.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img12 {
  background-image: url("/IMG_3844.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img13 {
  background-image: url("/Screenshot-2024-04-23-at-11.35.54-AM.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer {
  background: #0B7A75;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;

}

.reviews-section {
  background-color: #FCC8B2; 
  border-radius: 5px;
  box-shadow: rgba(99,99,99) 0px 2px 8px 0px;
  padding: 20px;
  text-align: center; 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.reviews-section h2 {
  color: #333;
  margin-bottom: 10px;
}


.stars-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-bottom: 10px; 
}

.fa.fa-star.checked {
  color: orange; 
  margin: 0 2px; 
  font-size: 24px;
}

.review-text {
  color: #000000;
  font-size: 1.5rem;
  line-height: 2;
  margin-bottom: 10px; 
}


.contact-form {
  margin: 20px;
  padding: 20px;
  background-color: #FCC8B2;
  border-radius: 5px;
  box-shadow: rgba(99,99,99) 0px 2px 8px 0px;
}


.footer h2 {
  color: white;
}

.info {
  border-radius: 5px;
  box-shadow: rgba(99,99,99) 0px 2px 8px 0px;
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: white;
  text-align: center;
  background-color: #FCC8B2;
}




input,
textarea,
button {
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  padding: 1em;
}

button:hover {
  background-position: right center;
}

.info .text h1, .info .text h2 {
  text-align: center;
}

.pricing-section {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.pricing-table {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.pricing-option {
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  width: 30%;
  box-shadow: 0 0 10px #ccc;
}

.pricing-option h3 {
  color: #333;
}

.pricing-option p {
  font-size: 24px;
  color: #333;
}

.pricing-option ul {
  list-style: none;
  padding: 0;
}

.pricing-option ul li {
  text-align: left;
  padding: 8px;
}

p {
  font-family: "Nunito", sans-serif;
}

@media screen and (min-width: 768px) {
  main {
      display: flex;
      flex-direction: row;
      margin: 10px;
  }
  .secondary {
      display: flex;
      flex-direction: column; 
      flex-wrap: wrap;
      justify-content: center; 
      gap: 10px; 
      margin:10px ;
  }

  .zooming-image {
      height: 300px;
      width: 300px; 
  }

  .reviews-section {
      flex: 1; 
  }

  .second {
      display: flex;
      align-items: stretch;
      justify-content: center;
  }
}